#blog-posts{
    margin-left:100PX;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 280px);
  }

  #blog-posts h5 {
    font-weight: bold;
  }
  #blog-posts img{
    border-radius: 15px;
  }
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }